body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 20px;
}
* {
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main {
    display: flex;
    justify-content: center;
}


.composer {
  background: white;
  padding: 15px;
  border-radius: 10px;
  max-width: 500px;
  min-width: 400px;
  margin: auto;
  position: relative;
}

#postForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #1877f2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  max-width: 60px;
  align-self: self-end;
}

#feed {
  max-width: 500px;
  margin: 20px auto;
}

.post {
  background: white;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}
.topContentPost{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likePost, .sharePost, .commentPost, .savePost{
  cursor: pointer;
}


.reactPost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.leftReactPost{
  display: flex;
  gap: 15px;
}

.centerContent{
  position: relative;
}

.modal{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  display: none;

}
.close{
  display: none;
}
.open{
  display: block;
}

.modal-background{
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-content{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  background-color: #f6faff;
  padding: 20px;
  border-radius: 5px;

}