<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="prac">
        <h1 class="hide">test</h1>
        <h2>asdasdsa</h2>
        
        <div>
            <p class="test" data-para="1">Activate 1</p>
            <p class="test" data-para="2">Activate 2</p>
            <p class="test" data-para="3">Activate 3</p>
        </div>


        <div>
            <button class="btn" data-btn="1">Hide Text</button>
            <button class="btn" data-btn="2">Button 2</button>
            <button class="btn" data-btn="3">Button 3 </button>
        </div>
    </div>


    <script type="module">
        import Practice from "./Prac.js";
       
        new Practice("#prac");

    </script>
</body>
</html>