:root{
    box-sizing: content-box;
}
.column{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 1px solid #858585;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;

}

.card{
    width: 100%;
}
.cardBtn{
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.contents{
    padding: 5px;
    background-color: white;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    cursor: pointer;
}