body {
    margin: 0;
}
input, .todoTitle {
    font-family: 'Courier New', Courier, monospace;
}

.appContent{
    display: flex;
    justify-content: center;
    
}

.contentUI{
    background-color: burlywood;
    margin-top: 10px;
    padding: 20px 40px;
    width: 60%;
}

#lists{
    padding-left: 0px;
}
.list{
    list-style: none;
    padding: 10px 15px;
    background-color: aliceblue;
    margin-bottom: 10px;
    font-size: 16px;
}

.todoList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.completeTodo{
    color:#b6b6b6;
}

.btnActions{
    display: flex;
    gap: 5px;
}

.todoTitle {
    font-size: 16px;
}

.editInput{
    border: none;
    border-bottom: 2px solid #555;
    outline: none;
    padding: 4px 4px;
    font-size: 16px;
    background: transparent;
    width: 250px;
    transform: border-color 0.3s ease;
}

.editInput:focus {
    border-bottom-color: #b98e54;
}