#container {
  height: 400px;
  overflow-y: auto;
  position: relative;
  border: 1px solid #ccc;
}

#list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

li {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}