.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 150px;
    opacity: 0;
    transform: translateY(5px);
    transition: 0.3s ease;
    pointer-events: none;
}

.dropdown.active .dropdown__menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}